*{
    box-sizing:border-box;
}

body{
    margin:0px;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color:#d9dce0;
}

nav{
    margin:auto;
    background: #ffffff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 3px 2px #888888;
}

nav div{
    display:inline-block;
    margin: 0 20px;
    font-size:20px;
}

a{
    color: #333333;
    text-decoration: none;
}

a.active{
    font-weight:bold;
}

header>div{
    text-align:center;
    color:#ffffff;
    width: 100%;
    height: 500px;
    background-image: url("addRunner.jpg");
    background-size: cover;
    padding-top: 200px;
}
.all-Runners{

}

.header-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.header-subtitle{
    text-transform: uppercase;
    font-size: 30px;
}


.section>h1{
    color:#ffffff;
    font-size: 35px;
    font-family: "Bell MT";
    font-style: italic;
}

.section-title{
    color: #070406;
    font-size: 30px;
}

.form{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

}

.section{
    width:100%;
    max-width:1200px;
    margin:auto;
}

.section-title{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 60px auto 40px;
}

.flex{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.image-wrapper{
    height:300px;
    width:300px;
    background-color:gold;
    display:inline-block;
}

.box{
    display:block;
    text-align:center;
    margin: 0px;
    padding: 10px;
    width:100%;
}

.box.small-box{
    width:33%;
}

.box.half-box{
    width:50%;
}

.box.big-box{
    width:66%;
}

.box-content{
    padding: 10px;
    background-color: #ffffff;
    height:100%;
}

.box-title{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 20px auto 15px;
}

.box-header{
    font-size: 25px;
}

ul{
    list-style-type:circle;
}

ol{
    list-style-type:hiragana;
}

ol ul{
    list-style-type:square;
}

ol.nestedListParent{
    list-style-type:katakana;
}

ul, ol{
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    background: #6d75ed;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color:#ffffff;
}

table td {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 300;
}

table td:last-child {
    text-align: right;
}

table tbody tr:nth-child(2n) td {
    background: #848cff;
    color:#ffffff;
}

table tfoot tr:first-child td {
    border-top: 2px solid #6d75ed;
}

table tfoot td:first-child {
    text-align: right;
}

.map {
    width: 100%;
    height: 400px;
}
